/JavaApplication3/nbproject/private/
/JavaApplication3/Email/build/
/JavaApplication3/Email/dist/
/JavaApplication3/Email/nbproject/private/
/BarberShop/nbproject/private/
/BarberShop/src/barbershop/Email/build/
/BarberShop/src/barbershop/Email/dist/
/BarberShop/src/barbershop/Email/nbproject/private/
/BarberShopCurso/nbproject/private/
/Barbearia/nbproject/private/